[submodule "04_Professionnal__(Days82_to_Day100)/Day83__Business_Card/Business_Card"]
	path = 04_Professionnal__(Days82_to_Day100)/Day83__Business_Card/Business_Card
	url = https://github.com/ChrstphrChevalier/Business_Card
[submodule "Business_Card"]
	path = 04_Professionnal__(Days82_to_Day100)/Day83__Business_Card/04_Professionnal__(Days82_to_Day100)/Day83__Business_Card/Business_Card
	url = https://github.com/ChrstphrChevalier/Business_Card
	branch = main
